extends layout

block content
  div#top-side
      img#fish(src='/images/pufferfish.png')
      h1= title
      p Put your loooooooong URL in text field!
      input(type='text', name='long-url-text-box', placeholder='Input your URL here...')#input-field
      button#add_urls_button Push to madness!!1
      br
      div#control_buttons
        button#delete_all.bot_btns Delete all elements
        button#delete_selected.bot_btns Delete select elements
      div#page_selector
        a#show_all(href="/").insets All
        a#show_visited(href="/showVisited").insets Visited
        a#show_no_visited(href="/showNoVisited").insets No visited
    div#urls
        b You can see SHORT URLs here:
        #list
          include list.jade

