#content
    each entries in pages
        ul.hide_ul
           each entry in entries
              li
                span.name Short url:
                 a(href=entry.short_url)= entry.short_url
                 input.ch_b(type="checkbox", id=entry._id, checked=(entry.checked=="true"))

                 br
                span.title Long url:
                 a(href=entry.long_url)= entry.long_url
                br
                input.show_long_url(type='button' value ='Show long URL')
                input.delete(type="button", value="Delete record", id=entry._id)

div(id='page_navigation')
    each i in paginator
        a(data-page=i) #{i}

