doctype html
html(lang='en' ng-app="MEAN" )
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
    block js
      script(src='http://localhost:35729/livereload.js')
      script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-resource.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.js")
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')

      script(type='text/javascript', src='/js/MEAN.js')
      script(type='text/javascript', src='/js/tabsControllers.js')
  body(ng-controller='MainCtrl')
      section#todoapp
          div#header
              nav.navbar.navbar-default(role='navigation')
                  .container-fluid
                      // Brand and toggle get grouped for better mobile display
                      .navbar-header
                          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                              span.sr-only Toggle navigation
                              span.icon-bar
                              span.icon-bar
                              span.icon-bar
                          a.navbar-brand(href='#/') Kudryavtsev M.
                      // Collect the nav links, forms, and other content for toggling
                      #bs-example-navbar-collapse-1.collapse.navbar-collapse
                          ul.nav.navbar-nav
                              li.active
                                  a(href='#/all') ToDoList
                                      span.sr-only (current)
                              li
                                  a(href="") {{ activeTab }}
                          ul.nav.navbar-nav.navbar-right
                              li.dropdown
                                  a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false') User will be here
                                      span.caret
                                  ul.dropdown-menu(role='menu')
                                      li
                                          a My account
                                      li
                                          a My ToDo List
                                      li.divider
                                      li
                                          a Users

      block content

      section.footer
         .container-fluid
             p Todo by Kudryavtsev Maxim 2015.