<p>activeTab = {{ activeTab }}</p>
<div id="add_field">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="new-todo">Add new TODO</label>
            <input type="text" class="form-control" id="new-todo" placeholder="Input your great deal here..." ng-model="newTodo.title">
            <button type="submit" class="btn btn-default" ng-click="add_todo()">Click to Add</button>
        </div>
    </form>
    <div role="tabpanel">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#/all" >All</a>
            </li>
            <li role="presentation">
                <a href="#/completed">Completed</a>
            </li>
            <li role="presentation">
                <a href="#/active">Active</a>
            </li>
        </ul>
    </div>
    <div id="list">
        <div id="main" ng-show="todos.length">
            <ul id="todo-list">
                <li ng-repeat="todo in todos | filter:statusFilter track by $index" >
                    <div class="view">
                        <input type="checkbox" ng-model="todo.checked"/>
                        <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                        <span class="glyphicon glyphicon-remove-circle" ng-click="removeTodo(todo)"></span>
                    </div>
                    <form ng-submit="doneEditing(todo)">
                        <input ng-model="todo.title" ng-blur="doneEditing(todo)" todo-escape="revertEditing(todo)" todo-focus="todo == editedTodo" class="edit"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div id="pagination">
        <div id="paginator_DIV"></div> <!-- In this place should be pagination section -->
    </div>
    <div class="btn-group" role="group" aria-label="Select your action">
        <button id="dell_selected" type="button" class="btn btn-danger btn_style">Delete completed</button>
        <button id="dell_all" type="button" class="btn btn-danger btn_style">Delete all</button>
    </div>
</div>