body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:greenyellow;
  background-color:lightcoral;
  text-align: center;
}
a {
  color:#00B7FF;
  margin-left:10px;
  word-break:break-all;
}
#fish{
  width:20%;
  display:block;
  margin:0 auto;
}
#fish.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#top-side{
  margin:20px auto;
  width:700px;
}
#add_urls_button{
  height:25px;
}
#input-field {
  width:440px;
  margin-right:10px;
  height:25px;
}
#urls{
  width:700px;
  display:block;
  margin:0 auto;
}
span.title {
  visibility:hidden;
}
.ch_b{
  margin-left:10px;
}
ul {
  padding-left:80px;
  text-align:left;
}
#control_buttons{
    width: 600px;
    margin: 0 auto;
}
.bot_btns{
  margin-top:10px;
  height: 25px;
}
#delete_all{
    margin-right: 15px;
}
.hide_ul{
    display:none;
}
.active{
    display:block   !important;
}
#page_navigation {
    margin: 26px 10px 10px 10px;
}
#page_navigation a {
    margin: 10px;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
}
#page_selector{
    width: 650px;
    margin:5px auto;
}
.insets{
    display: inline-block;
    width:185px;
    height:25px;
    margin:10px 0 0 0;
}
#show_visited,#show_all,#show_no_visited{
    margin:0 15px;
    color:lightcoral;
    background-color: #acf72c;
    border:none;
    font-weight: bold;
    width:185px;
}
button {
    color:lightcoral;
    background-color: #acf72c;
    border:none;
    font-weight: bold;
    width:185px;
}