body {
  padding:0;
  margin:0;
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color:#00B7FF;
}
h1{
  margin:0 20px 20px 20px;
  display:inline-block;
}
#Content{
  height:auto;
}
#add_field{
  margin:50px 0 10px 0;
  background: #e6e5e2;
}
#new-todo{
  display:inline-block;
  height:25px;
  width:270px;
  border:none;
  margin:15px;
}
#list{
  margin:10px;
}
#todo-list > li {
  list-style: none;
}
.btn_style{
  width:130px;
  height:30px;
  font-weight:bold;
  font-size:1em;
  margin:10px;
}

// Dropdown menu horizontal modification
@import url('http://getbootstrap.com/dist/css/bootstrap.css');
.dropdown-menu > li{
  display:inline-block;
  float:left;
}
.open> ul {
  display:inline-flex !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5e9e1;
}