body {
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background:white;
}
.zero_padding_margin{
    padding:0;
    margin:0;
}
/* --- Header styles --- */
h1{
    font-weight:700;
    font-size: 3.5em;
    margin:0;
}
h2{
    font-size: 1.7em;
    font-weight:400;
    margin:0;
}
p{
    display:inline-block;
}
.no_margin{
    margin:0;
}
.inline_block{
    display:inline-block;
}
/*.display_block{*/
    /*display:block;*/
/*}*/
#header{
    width:1600px;
    height:563px;
    margin: 0 auto;
    background-image:url(../images/oscar_header.png);
    position:relative;
    top:0;
}
.white_text{
    color:white;
}
#PovByEvr{
    color: #d2d2d2;
    float:right;
    margin: 20px 300px 0 0;
}
#BG_Layer{
    width:100%;
    height:211px;
    position:relative;
    top:352px;
}
#header_text{
    margin: 10px 0 0 300px;
}
.header_icons_styles{
    width:30px;
    height:25px;
    background-repeat: no-repeat;
    background-position:bottom;
}
.header_titles_styles{
    float:right;
    margin-left:2px;
    margin-right:10px;
    margin-top:4px;
}
#header_ava_date_positioner{
    float:left;
    margin:20px 0 0 300px;
}
#header_icons_positioner{
    float:right;
    margin:25px 300px 0 0;
}
#user_ava{
    width:35px;
    height:35px;
    background-image:url(../images/user_ava01.jpg);
    background-repeat:no-repeat;
    margin-right:10px;
}
#user_info p{
    float: right;
    margin:10px 40px 0 0;
}
#date{
    float: right;
    margin-top: 10px;
}
#newest_img{
    background-image:url(../images/newest_sign.png);
}
#embed_img{
    background-image:url(../images/embed_sign.png);
}
#share_img{
    background-image:url(../images/share_sign.png);
}
#donate_img{
    background-image:url(../images/donate_sign.png);
}
#show_new_bits{
    width:1600px;
    height:55px;
    line-height:55px;
    margin:0 auto;
    background:#e3e8ea;
    color:#a3aaaa;
    text-align:center;
    vertical-align:middle;
}
.gray_rectangle{
    height:210px;
    width:1600px;
    background-color: rgba(140, 139, 139, 0.5);
}

/* --- Body styles --- */
#page_content{
    display:block;
    margin:0 auto;
}
.middle{
    width:800px;
    margin:0 auto;
}
.all_width_article{
    width:1600px;
    margin:0 auto;
    padding:40px 0;
}
.all_width_article:hover {
    background: #f8f8f8;
}
.post_text_styles{
    font-size: 0.8em;
    color:#656565;
    float:left;
    margin:2px 30px 0 5px;
}
.height_of_block_with_margin_top{
    height:25px;
    margin-top:30px;
}
.post_user_ava{
    width:21px;
    height:21px;
    display:inline-block;
    float:left;
    background-image:url(../images/g_sign_ava.jpg)
}
.user_mike_avatar{
    background-image:url(../images/mini_user_ava.jpg)
}
.action_bar_icon_arrow_activator{
    width:19px;
    height:10px;
    display:inline-block;
    float:right;
    margin:9px 0;
    background-image:url(../images/action_bar_activated_icon.png);
}
#pictures_wrapper{
    margin-top: 35px;
}
.picture_margin_right{
    margin-right: 13px;
}
.twitter_picture{
    display: block;
    margin:0 auto;
}
.comments_text{
    width: 717px;
}
/* - action bar under posts - */
.float_left {
    float:left;
}
.post_action_bar_text_styles{
    font-size: 0.8em;
    color:#656565;
    margin-bottom:5px;
    margin-left:5px;
}
.action_bar_icons_styles{
    padding-right:20px;
}
.post_counter{
    color: #309900;
    margin:0 10px;
}

/* - Comments area - */
#comment_area{
    width:760px;
    height:180px;
    resize:none;
    border:none;
    background:#f7f7f7;
    color:#d1d1d1;
    padding:20px;
}
/* Separate line with Reply counter */
.separate_lines{
    margin-top:50px;
}
.table_for_separate{
    width:100%;
    border-collapse:collapse;
}
.border_for_lines{
    border-top: 1px solid #9c9c9c;
}
.replies_counter{
    padding:0 5px;
    width: 70px;
    text-align:center;
}

/* PATTERN OF COMMENT START */
.test_comment_pattern{
    margin:65px 0 0 0;
}
.test_ava_pattern{
    width:93px;
    min-height:73px;
    background-image:url(../images/evrybit_user_comment_ava_03.png);
    background-repeat: no-repeat;
    display:inline-block;
    vertical-align:top;
}
.test_text_comment_part_pattern{
    display:inline-block;
    max-width:700px;

}
.info_post_pattern{

}
.name_user_pattern{
    display:inline-block;
    font-weight:bold;
}
.date_post_pattern{
    display:inline-block;
    color: #aeaeae;
    margin-left:20px;
    font-size:0.9em;
}
.reply_pattern{
    color:dodgerblue;
    margin:10px 0;
}

.sub_test_comment_pattern{
    margin:65px 0 20px 100px;
    max-width:700px;
}
.sub_test_ava_pattern{
    width:93px;
    min-height:73px;
    background-image:url(../images/evrybit_user_comment_ava_03.png);
    background-repeat: no-repeat;
    display:inline-block;
    vertical-align:top;
}
.sub_test_text_comment_part_pattern{
    display:inline-block;
    max-width:600px;

}
.sub_name_user_pattern{
    display:inline-block;
    font-weight:bold;
}
.sub_date_post_pattern{
    display:inline-block;
    color: #aeaeae;
    margin-left:20px;
    font-size:0.9em;
}
.sub_reply_pattern{
    color:dodgerblue;
    margin:10px 0;
}
/* PATTERN OF COMMENT END */
#page_pagination_counter{
    width:240px;
    margin:0 auto;
}
.pagination_counter_elements{
    color: #b7b7b7;
}
.pagination_counter_numbers{
    margin:0 10px;
}
.pagination_counter_prev{
    margin-right:15px;
}
.pagination_counter_next{
    margin-left:15px;
}
.viewed_page{
    color:black;
}

/* --- Footer styles --- */
#footer_rectangle{
    width:800px;
    height:70px;
    border:1px solid #5a6eab;
    color:#5a6eab;
    margin:0 auto 100px auto;
    text-align:center;
    vertical-align:middle;
}
#footer_elements_wrapper{
    height:100%;
    margin:0 auto;
}
#footer_img{
    width:35px;
    height:35px;
    background-image:url(../images/footer_image.png);
    margin:17px 0;
    float: left;
}
#footer_p_style{
    margin:24px 0 24px 15px;
}